# Lists

In [1]:
# List items are ordered, changeable, allow duplicate values


list1 = ["bhavya", "sri", "patamsetti"]
list1

['bhavya', 'sri', 'patamsetti']

In [2]:
# length of the list

print(len(list1))

3

In [3]:
list1[0] = "mummy"
list1

['mummy', 'sri', 'patamsetti']

In [4]:
# list can have all types of datatypes.

l1 = ["abc", 34, True, 40, "female"]
l1

['abc', 34, True, 40, 'female']

In [8]:
# Ranging of indexes

thisli = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisli[2:5])

['cherry', 'orange', 'kiwi']

In [7]:
thisli = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisli[-4:-1])

['orange', 'kiwi', 'melon']

In [10]:
list1 = ["apple", "banana", "cherry"]
if "apple" in list1:
  print("Yes, 'apple' is in the fruits list")

if "kiwi" in list1:
  print("Yes, 'kiwi' is in the fruits list")
else:
    print("No")

Yes, 'apple' is in the fruits list
No

In [11]:
l1 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
l1[1:3] = ["blackcurrant", "watermelon"]
print(l1)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [12]:
l1 = ["apple", "banana", "cherry"]
l1[1:3] = ["watermelon"]
print(l1)

['apple', 'watermelon']

In [13]:
# insert is used to add elements into list insert()

thislist = ["apple", "banana", "cherry"]
thislist.insert(3, "watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']

In [14]:
# To add an item to the end of the list, use the append() method

a = ["bhavya", "nithya", "shanmukh", "chikki"]
a.append("babe")
a

['bhavya', 'nithya', 'shanmukh', 'chikki', 'babe']

In [15]:
# To append elements from another list to the current list, use the extend() method.

a = [10,203,"bhavya"]
b = ["nithya", 9819, 12]
a.extend(b)
a

[10, 203, 'bhavya', 'nithya', 9819, 12]

In [16]:
# The remove() method removes the specified item.

a.remove(9819)
a

[10, 203, 'bhavya', 'nithya', 12]

In [17]:
# The pop() method removes the specified index.

x = [1, 2, 3, "bhavya", 1j]
x.pop()

1j

In [18]:
x.pop(1)
x

[1, 3, 'bhavya']

In [19]:
# The del keyword also removes the specified index
del x[0]
x

[3, 'bhavya']

In [20]:
# clear method empties the list

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [21]:
# for loop in list 

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [22]:
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [23]:
# while loop in list

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [24]:
# loop using list comprehension
# shortest for loop notation

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [26]:
# list comprehension for above

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [27]:
# sort list

a = ["bhavya", "sri", "anisha", "patamsetti", "nithya", "pinky"]
a.sort()
a

['anisha', 'bhavya', 'nithya', 'patamsetti', 'pinky', 'sri']

In [28]:
# sort in descending order

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [29]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [30]:
# case insensitive

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [31]:
# incase of case sensitive use str.lower / str.upper

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [32]:
# reverse()
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)  # without sorting it will

['cherry', 'Kiwi', 'Orange', 'banana']

In [33]:
# coping a list to the other

a = [12,1323,4355]
b = a.copy()
b

[12, 1323, 4355]

In [34]:
b = list(a)
print(b)  # list and copy works as same

[12, 1323, 4355]

In [35]:
# join 2 lists with + operator

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [36]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [37]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# List Methods
Python has a set of built-in methods that you can use on lists.

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# Sets

Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
A set is a collection which is unordered, unchangeable*, and unindexed.

In [38]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [39]:
# length of the set

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [40]:
# can be of any datatype

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [41]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [43]:
# It is also possible to use the set() constructor to make a set.

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [44]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [45]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [46]:
# add item 

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [47]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'papaya', 'banana', 'mango', 'cherry'}

In [48]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [49]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [50]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [51]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [52]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)  # it raises error as it gets deleted

NameError: name 'thisset' is not defined

In [53]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [55]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)


#Both union() and update() will exclude any duplicate items.

{'b', 1, 2, 3, 'a', 'c'}

In [56]:
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [57]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'banana', 'google'}

Set Methods
Python has a set of built-in methods that you can use on sets.

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others